[package]
name = "rs_assert"
version = "0.1.0"
edition = "2021"

[features]
default = []
enable_asserts = []
interactive_failures = ["enable_asserts"]
panic_on_failures = ["enable_asserts"]

[dependencies]
